extends layout

block content
	div(id="layout")
		div(id="board")
		br
		div(id="timer_base" class="timer-base")
			div(id="timer" class="timer-bar")
			div(id="timer_text" class="timer-bar")
		H4(id="player_turn") X turn
		H4(id="error")
		button(onClick="restart();") Restart!
	script(src="/js/index.js")