extends layout

block content
	div(id="layout")
		div(id="board")
		br
		H4(id="you_are")
		H4(id="player_turn") X turn
		H4(id="error")
		form(action="#" onsubmit="restart();")
			input(type="submit" value="Restart!")
	script(src="/js/index.js")