<!DOCTYPE html>
<html>

<head>
	<title>Tic Tac toe by Roni</title>
	<link rel="stylesheet" type="text/css" href="client-js/index.css">
	<meta charset="UTF-8" />
</head>

<body>
	<div id="layout">
		<!-- Comment out title
		<H2>
			Tic-Tac-Toe
		</H2>
		-->
		<!-- Table will appear here-->
		<div id="board">
		</div>
		<br>
		<div id="timer_base" class="timer-base">
			<!-- Bar will be here-->
			<div id="timer" class="timer-bar"></div>
			<!-- Time will be here-->
			<div id="timer_text" class="timer-bar"></div>
		</div>
		<H4 id="player_turn">
			X turn
		</H4>
	</div>
	<script src="client-js/index.js">
	</script>
</body>

</html>